:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

.Navigation{
    background-color: rgb(214, 210, 191);
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 2.2em;
    align-items: center;
}

.Select{
    width: 20%;
    height: 75%;
    margin-left: 3%;
    padding:2px;
    background-color: rgb(240, 245, 240);
    cursor: pointer;
    border-radius: 1.1em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.Select:focus{
    outline: none;
}

.TopRight{
    margin-right: 3%;
    padding:2px;
}

.Navigation button{
    margin-left: 2px;
    width: 5em;
}

