.Post{
    color: rgb(41, 38, 38);
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(46, 42, 42);
    background-color: rgb(230, 234, 236);
}

.Buttons{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.Buttons button{
    background-color: rgb(204, 231, 231);
    border-radius: 90%;
    font-size: 1.2em;
    width: 100px;
    border: 0.5px solid rgb(54, 53, 53) 0.5; 
}
button:focus{
    outline: none;
}

.Buttons button:hover{
    background-color: burlywood;
    cursor: pointer;
}